#macro (disable_html_escaping) #end
#disable_html_escaping()

<html>
<head>
    <title>$action.getText("inproduct.admin.translations.management.name")</title>
    <meta name="admin.active.section" content="admin_plugins_menu/inproduct-admin">
</head>

<body>

<div id="inproduct-admin-xsrf" style="display:none;">$xsrfToken</div>

<h3>$action.getText("inproduct.admin.translations.management.label.2") - $action.getCurrentLocale().getDisplayName()</h3>

#set( $map = $action.getTranslations() )
<table class="aui">
##    <thead>
        <tr>
            <th>$action.getText("inproduct.admin.key")</th>
            <th style="width: 100%;">$action.getText("inproduct.admin.message")</th>
            <th>$action.getText("inproduct.admin.ops")</th>
        </tr>
##    </thead>
    <tbody>
        #foreach($key in $map.keySet())
        <tr>
            <td>$key</td>
            <td>$map.get($key)</td>
            <td style="text-align: right;">
                <a class="deletekey" id="deletekey_$key" href="#">
                    $action.getText("inproduct.admin.delete")
                </a>
            </td>
        </tr>
        #end
    </tbody>
</table>

<div style="display: none;">
    <form action="$action.getName()" method="POST">
        <input type="hidden" value="$atl_token" name="atl_token">
        <input type="text" value="" name="keytodelete" id="keytodelete">
    </form>
</div>

<p>
    <a href="../../../plugins/servlet/com.atlassian.translations.inproduct.languagepack.download?language=$action.getCurrentLocale().toString()">$action.getText("inproduct.admin.download.lp")</a>
    &nbsp;|&nbsp;
    <a href="#" id="inproduct_upload_to_tac">$action.getText("inproduct.admin.upload.lp.to.tac")</a>
</p>

</body>
</html>